$font: 'Gloock', serif;

$background-color: #fcfaf9;
$primary-color: #2d3047;
$secondary-color: #388697;
$signal-color: #03c9a1;
$warning-color: #e55381;

*{padding: 0; margin: 0; box-sizing: border-box;}

body {font-family: $font;
background-color: $background-color;
font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6 {color: $signal-color;}
h1 {font-size: 3rem;}
h2 {font-size: 2rem;}
section {font-size: 1.2rem;}


// main a:link{color: base.$primary-color; text-decoration: underline;}
//     a:visited {color: base.$secondary-color;}
//     a:hover{}
//     a:focus{color: base.$signal-color;}
//     a:active{color: base.$warning-color;}
//     a:visited:hover{}
// }


