@mixin box-shadow{-webkit-box-shadow: 9px 9px 45px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 45px -15px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 45px -15px rgba(0,0,0,0.75);}

@mixin container{margin: 1rem; display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: center;}

//navbar
@mixin no-logos {#logo-big,#logo-small{display: none;}}
@mixin big-logo {#logo-big{display: flex;}
#logo-small{display: none;}}