@use 'base';
@use 'mixin';

// //navbar://
header{display: flex; 
  flex-direction: row; 
  font-size: 1.6rem; 
  height: 50px; 
  background-color: 
  base.$primary-color; 
  color: base.$background-color; 
  align-items: center; 
  justify-content: space-between; 
  position: sticky;
  top:0;
  z-index: 999;
    a{text-decoration: none; color: base.$background-color;}}

#logo-big, #logo-small {margin-left: 1rem;}

@media screen and (max-width: 349px) {@include mixin.no-logos}
header a{font-size: 0.8rem;}
@media screen and (min-width: 350px) {@include mixin.no-logos}
header a{font-size: 1rem;}
@media screen and (min-width: 600px) {@include mixin.no-logos}
header a{font-size: 1.2rem;}
@media screen and (min-width: 768px) {#logo-big{display: none;}
#logo-small{display: flex;}
header a{font-size: 1.4rem;}}
@media screen and (min-width: 992px) {#logo-big{display: flex;}
#logo-small{display: none;}header a{font-size: 1.6rem;}}
@media screen and (min-width: 1200px) {@include mixin.big-logo} header a{font-size: 1.8rem;}
@media screen and (min-width: 1600px) {@include mixin.big-logo}

.navigation-links{display: flex;
  a{padding: 0 0.5em;}
  a:visited{color: base.$secondary-color}
  a:hover{color: base.$signal-color; transform: scale(1.1);}
    a:focus{border: 3px solid base.$background-color; color: base.$background-color;}
    a:active{color: base.$warning-color;}
}

// switch language buttons
.switch-language {
    display: flex;
    gap: 0.7rem;
    margin: 0.7rem;
  }
    .switch-language a {font-size: 1.5rem; padding: 0.4rem;
  border: 1px solid base.$secondary-color;
  border-radius: 50%; text-decoration: none; color: base.$background-color;}
    .switch-language :first-child {
    background-color: base.$secondary-color;
  }
  .switch-language :nth-child(2) {
    background-color: base.$primary-color;
  }
  .switch-language a:hover {
    transform: scale(1.2);
  }
  .switch-language a:focus{border: 3px solid base.$background-color; background-color:base.$background-color; color: base.$primary-color;}

// hero = about.me
  .hero {@include mixin.container;
section{@include mixin.box-shadow; margin: 1rem 0; padding: 1rem;
}}

.picture-container {width:100%; height: 50vh; display: flex; @include mixin.box-shadow;
a{text-decoration: none;}
p:hover{transform: scale(1.05);}}
.picture-container p {position: relative; height: min-content; left: 5%; top: 90%; color: base.$secondary-color; background-color: base.$background-color; padding: 0.2rem; border-radius: 10px; box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.4);}
.picture-container div {width: 100%;height: 100%;  background-repeat: no-repeat; background-size: cover; background-position: center top; margin: auto;}
@media (max-width: 480px){
  .picture-container div {background-image: url(./images/picture-mobile.jpeg); background-size: cover; background-position: center;
   p {font-size: 0.8rem;}}
  }
@media (min-width: 481px) and (max-width: 1024px) {.picture-container div {background-image: url(./images/picture-tablet.jpeg); background-size: cover; background-position: center;
  p {font-size: 1rem;}
}}
@media (min-width: 1025px){
  .picture-container div {background-image: url(./images/picture-desktop.JPG); background-size: cover; background-position: 50% 30%;
  p {font-size: 1.2rem;}}
}

// Connect CTA
.connect {display: flex; gap: 1.2em; align-items: center;
  h2,a{color: base.$warning-color;}
  a:hover{transform: scale(1.2);}
  }

// project = about.project
#about-project{@include mixin.container; @include mixin.box-shadow; padding: 1rem;}
#about-project section {margin-top: 1rem;}

// // CV old
// #cv{@include mixin.container; align-items: flex-start; @include mixin.box-shadow; padding: 1rem;


// CV

.cv-container{display: grid;
grid-template-areas: 'head'
'education'
'experience'
'skills';
padding: 1rem;}

.cv-head {grid-area: head;}
.cv-education {grid-area: education;}
.cv-experience {grid-area: experience;}
.cv-skills {grid-area: skills;}

@media (min-width:768px) {
  .cv-container{grid-template-columns: 1f, 1fr;
  grid-template-areas: 'head head'
  'education education'
  'experience experience'
  'skills skills';}
}

@media (min-width:1024px) {
  .cv-container{grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'head head head'
'education experience experience'
'skills experience experience';}
}

.cv-description {margin-left: 1rem; position: relative; color: base.$secondary-color;}
 p{margin-top: 1rem;}
 h3{margin-top: 1.2rem;}
 h2{align-self: center};

#cv-head a, div {text-decoration: none; color: base.$secondary-color; display: flex; gap: 0.4rem;}
#cv-head i {transform: translateY(2px);}

// Impressum

#impressum {@include mixin.box-shadow; margin:1rem; padding: 1rem; display: flex; flex-direction: column; height: 150px; overflow: auto;}
h2 {align-self: center;}

// Footer
footer{display: flex; 
  flex-direction: row; 
  height: 60px; 
  background-color: 
  base.$primary-color; 
  color: base.$background-color; 
  align-items: center; 
  justify-content: center; 
  bottom:0;
    a{text-decoration: none; color: base.$background-color;}}


