* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gloock", serif;
  background-color: #fcfaf9;
  font-size: 62.5%;
}

a {
  color: #50537c;
}

a:active {
  color: #e55381;
}

h1, h2, h3, h4, h5, h6 {
  color: #03c9a1;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

::-moz-selection {
  color: #fcfaf9;
  background: #2d3047;
}

::selection {
  color: #fcfaf9;
  background: #2d3047;
}

@media screen and (max-width: 349px) {
  h1, #connect-cta {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p, section, div {
    font-size: 1rem;
  }
}
@media screen and (min-width: 350px) {
  h1, #connect-cta {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p, section, div {
    font-size: 1rem;
  }
}
@media screen and (min-width: 600px) {
  h1, #connect-cta {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p, section, div {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  h1, #connect-cta {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p, section, div {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 992px) {
  h1, #connect-cta {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p, section, div {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  h1, #connect-cta {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  p, section, div {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1600px) {
  h1, #connect-cta {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p, section, div {
    font-size: 1.6rem;
  }
}
header {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  height: 50px;
  background-color: #2d3047;
  color: #fcfaf9;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}
header a {
  text-decoration: none;
  color: #fcfaf9;
}

#logo-big, #logo-small {
  margin-left: 1rem;
}

@media screen and (max-width: 349px) {
  #logo-big, #logo-small {
    display: none;
  }
}
header a {
  font-size: 1rem;
}

@media screen and (min-width: 350px) {
  #logo-big, #logo-small {
    display: none;
  }
}
header a {
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  #logo-big, #logo-small {
    display: none;
  }
}
header a {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  #logo-big {
    display: none;
  }
  #logo-small {
    display: flex;
  }
  header a {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) {
  #logo-big {
    display: flex;
  }
  #logo-small {
    display: none;
  }
  header a {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  #logo-big {
    display: flex;
  }
  #logo-small {
    display: none;
  }
}
@media screen and (min-width: 1600px) {
  #logo-big {
    display: flex;
  }
  #logo-small {
    display: none;
  }
}
.navigation-links {
  display: flex;
}
.navigation-links a {
  padding: 0 0.5em;
}
.navigation-links a:visited {
  color: #388697;
}
.navigation-links a:hover {
  color: #03c9a1;
  transform: scale(1.1);
}
.navigation-links a:focus {
  border: 3px solid #fcfaf9;
  color: #fcfaf9;
}
.navigation-links a:active {
  color: #e55381;
}

.switch-language {
  display: flex;
  gap: 0.7rem;
  margin: 0.7rem;
}

.switch-language a {
  font-size: 1.5rem;
  padding: 0.4rem;
  border: 1px solid #388697;
  border-radius: 50%;
  text-decoration: none;
  color: #fcfaf9;
}

.switch-language :first-child {
  background-color: #388697;
}

.switch-language :nth-child(2) {
  background-color: #2d3047;
}

.switch-language a:hover {
  transform: scale(1.2);
}

.switch-language a:focus {
  border: 3px solid #fcfaf9;
  background-color: #fcfaf9;
  color: #2d3047;
}

.hero {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.hero section {
  box-shadow: 9px 9px 45px -15px rgba(0, 0, 0, 0.75);
  margin: 1rem 0;
  padding: 1rem;
}

.picture-container {
  width: 100%;
  height: 50vh;
  display: flex;
  box-shadow: 9px 9px 45px -15px rgba(0, 0, 0, 0.75);
}
.picture-container a {
  text-decoration: none;
}
.picture-container p:hover {
  transform: scale(1.05);
}

.picture-container p {
  position: relative;
  height: -moz-min-content;
  height: min-content;
  left: 5%;
  top: 90%;
  color: #388697;
  background-color: #fcfaf9;
  padding: 0.2rem;
  border-radius: 10px;
  box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.4);
}

.picture-container div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin: auto;
}

@media (max-width: 480px) {
  .picture-container div {
    background-image: url(./images/picture-mobile.jpeg);
    background-size: cover;
    background-position: center;
  }
  .picture-container div p {
    font-size: 0.8rem;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .picture-container div {
    background-image: url(./images/picture-tablet.jpeg);
    background-size: cover;
    background-position: center;
  }
  .picture-container div p {
    font-size: 1rem;
  }
}
@media (min-width: 1025px) {
  .picture-container div {
    background-image: url(./images/picture-desktop.JPG);
    background-size: cover;
    background-position: 50% 30%;
  }
  .picture-container div p {
    font-size: 1.2rem;
  }
}
.connect {
  display: flex;
  gap: 1.2em;
  align-items: center;
}
.connect h2, .connect a {
  color: #e55381;
}
.connect a:hover {
  transform: scale(1.2);
}

#about-project {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 9px 9px 45px -15px rgba(0, 0, 0, 0.75);
  padding: 1rem;
}

#about-project section {
  margin-top: 1rem;
}

#cv {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  box-shadow: 9px 9px 45px -15px rgba(0, 0, 0, 0.75);
  padding: 1rem;
}
#cv p {
  margin-top: 1rem;
}
#cv h3 {
  margin-top: 1.2rem;
}
#cv h2 {
  align-self: center;
}

#cv-head a, div {
  text-decoration: none;
  color: #388697;
  display: flex;
  gap: 0.4rem;
}

#cv-head i {
  transform: translateY(2px);
}

.cv-description {
  margin-left: 1rem;
  position: relative;
  color: #388697;
}

footer {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: #2d3047;
  color: #fcfaf9;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
footer a {
  text-decoration: none;
  color: #fcfaf9;
}/*# sourceMappingURL=styles.css.map */